.cardContainer {
    height: 540px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
    box-shadow: 0 16px 14px 0 #04152d;
    padding: 18px 24px;
    max-width: 345px;
    flex-grow: 1; /* Allows the card to grow and take up space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.scrollableContent { 
    overflow-y: auto;
    flex-grow: 1;
    /* margin-top: 6px; */
}

.scrollableContent::-webkit-scrollbar {
    width: 7px;
  }
  
  .scrollableContent::-webkit-scrollbar-thumb { 
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

.image {
    max-height: 150px; /* Set a max height for the image */   
    margin: 8px auto 25px auto; /* centers image horizontally */
    max-height: 150px;
    object-fit: cover;
    display: block; /* ensures margin auto works */

    
}

.title {
    font-size: 25px;
    font-weight: 700;
}

.description {
    margin-top: 6px;
    font-size: 18px;
    font-weight: 400;
    flex-grow: 1; /* Allows description to take up available space */
}

.skills {
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.skill {
    font-size: 18px;
    font-weight: 400;
    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}

.links {
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.link {
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    font-weight: 600;
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
}